/****** General ***********/
* {
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

:root {
	--main-color: #0065FC;
	--main-hover: #0f58c5;
	--main-bg-color: #F2F2F2;
	--filter-bg-color: #DEEBFF;
	--black: #000000;
	--white: #FFFFFF;
	--grey: #F2F2F2;
	--dark-grey: #D9D9D9;
}

.fa-solid {
	color: var(--main-color);
}

.fa,
.fas {
	font-weight: 900;
}

body {
	justify-content: center;
	color: var(--black);
	width: 100%;
	margin: auto;
	max-width: 1440px;
}

header {
	width: 93%;
	height: 84px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

#main-container {
	width: 93%;
	margin: auto;
}

main {
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding-top: 26px;
}

h1 {
	font-size: 1.38rem;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 1.375rem;
	margin: 0;
}

.section-title {
    margin: 30px 0 0 30px;
	font-size: 1.375rem;
	font-weight: 700;
}

h3 {
	font-size: 1rem;
	margin: 0;
}

h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

article {
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	font-weight: 400;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
	object-fit: cover;
}

.content-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	margin-top: 10px;
}

.card-title {
	font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/* Header */

.logo {
	align-self: center;
}

.navigation {
	display: flex;
	flex-direction: row;
}

.navigation a {
	font-size: 16px;
	font-weight: 400;
	padding: 15px 23px;
}

.selected {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

.unselected {
    border-top: 2px solid transparent;
}

.unselected:checked {
    border-top: 2px solid transparent;
}

.navigation a:hover {
	color: var(--main-color);
	border-top: 2px solid var(--main-color);
}

/* Main */

/* Search-bar */

.search-bar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 34px;
}

.search-bar__headline {
	display: flex;
	flex-direction: column;
}

.search-bar__headline p {
	margin-top: 7px;
}

.search-form {
	display: inline-flex;
	flex-direction: row;
	border: 1px solid var(--grey);
	border-radius: 15px;
}

.search-form__location {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 3rem;
	background-color: var(--grey);
	font-size: 1.1rem;
	border-radius: 15px 0 0 15px;
}

.location {
	color: var(--black);
}

.search-form__input {
	height: 3.18rem;
    width: 195px;
	padding-left: 1.6rem;
	font-size: 1.12rem;
	font-weight: 700;
    font-family: inherit;
	outline: none;
	background-color: var(--white);
	border: none;
}

.search-form__input::placeholder {
    color: var(--black);
    opacity: 1;
  }

.search-form__button {
	background-color: var(--main-color);
	color: var(--white);
	border: none;
	border-radius: 0 15px 15px 0;
	padding: 0 17px;
	font-size: 1.12rem;
	font-weight: 700;
	transition: .3s;
}

.search-form__button:hover {
	background-color: var(--main-hover);
}

.search-form__button-mobile {
	display: inline-flex;
	padding: 15px 16px;
	align-items: center;
	background-color: var(--main-color);
	border-radius: 15px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;
	transition: .3s;
	display: none;
}

.search-form__button-mobile:hover {
	background-color: var(--main-hover);
}

.search-ico {
	color: var(--white);
}

.filter-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.filter-bar h3 {
    font-size: 1.125rem;
}

.filter-bar__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    width: 100%;
	gap: 15px;
}

.filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: inset 0 0 0 1px var(--dark-grey);
	border-radius: 25px;
	cursor: pointer;
	transition: .5s;
	border: 2px solid var(--dark-grey);
	font-weight: 700;
	padding: 0px 20px;
	gap: 13px;
	height: 50px;
}

.filter:hover {
	background: var(--filter-bg-color);
}

.filter-logo {
	height: 49px;
	width: auto;
	font-size: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-color);
}

.infobar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 11px;
}

.infobar-ico {
	min-width: 24px;
	min-height: 24px;
	border: 1px solid var(--dark-grey);
	color: var(--main-color);
	border-radius: 50px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Accommodation */

.accommodation {
	display: flex;
	flex-direction: row;
	gap: 3%;
}

.accommodation-main {
	width: 67%;
	background-color: var(--grey);
	border-radius: 15px;
}

.accommodation-main__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 31px;
}

.accommodation-main__card-link {
	width: 31%;
	height: auto;
    margin-top: 30px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.accommodation-main__card-link img {
	width: 100%;
	height: 124px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
    padding: 5px;
}

.accommodation-main__card-text {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: var(--black);
}

.accommodation-main__card-description {
	padding: 0px 5px 10px 15px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}


.accommodation-main__card-subtitle {
	font-size: 14px;
}

.card-rating {
	margin-bottom: 5px;
}

.sponsored {
	width: 33%;
	padding-bottom: 15px;
	background: var(--grey);
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	padding: 30px;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.sponsored-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sponsored-title__ico {
    font-size: 18px;
}

.sponsored-cards {
	display: flex;
	flex-direction: column;
	gap: 29px;
}

.sponsored-cards img {
	width: 33%;
	height: 136px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.sponsored-card {
	display: flex;
}

.card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sponsored-card__rating {
    font-size: 16px;
    padding-bottom: 2px;
}

.show-more {
	align-self: flex-start;
	padding: 31px 0px 30px 30px;
}

.show-more a {
    font-size: 1.125rem;
	font-weight: 700;
}

.show-more:hover {
	color: var(--main-hover);
	text-decoration: underline;
}

/* Activities */

.activities {
	padding: 30px;
}

.activities-title {
    padding: 0px 0px 34px;
}

.activities-cards {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

.activities-card {
	width: 23.2%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities-card img {
	width: 100%;
	height: 380px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 18px;
}

/* Footer */

footer {
	max-width: 1440px;
	width: 93%;
	display: flex;
	background-color: var(--main-bg-color);
	margin: auto;
	margin-top: 37px;
	padding: 20px;
	gap: 16%;
}

.footer-container {
	width: 18.4%;
}

.footer-container__list li {
	margin: 15px 0;
}

/****** Media queries ***********/

@media (max-width: 1024px) {

	.search-form__input {
		width: 100%;
	}

	.search-form__button {
		display: none;
	}

	.search-form__button-mobile {
		display: block;
        margin-right: -5px;
	}

	.filter-bar {
        width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}

    .filter-title {
        font-size: 14px;
    }

	.accommodation {
		flex-direction: column;
		row-gap: 3rem;
	}

	.accommodation-main {
		width: 100%;
	}

	.accommodation-main__card {
		width: 30%;
		min-width: 192px;
		margin: auto;
		border-radius: 20px;
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
	}

	.sponsored {
		width: 100%;
	}

	.sponsored-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.sponsored-cards a {
		width: 30%;
	}

	.sponsored-cards .card-title {
		font-size: 16px;
	}

	.sponsored-cards .card-subtitle {
		font-size: 14px;
	}

	.activities-card img {
		max-height: 200px;
	}

	.activities-card__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
	}

}

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {

	header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0;
		width: auto;
		padding: 0;
	}

	.navigation {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
	}

	.navigation a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 50%;
	}

	.navigation a:hover {
		border-top: none;
	}
    
    .selected {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .unselected {
        border-top: none;
        border-bottom: 2px solid var(--grey);
    }

    
    .unselected:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--black);
    }

    .unselected:checked {
        border-top: none;
        border-bottom: 2px solid var(--grey);
    }

	#main-container {
		width: auto;
		padding: 0;
	}

	.search-bar {
		padding: 0 20px;
	}

	.search-form {
		width: 100%;
	}

	.search-form__input {
		height: 3rem;
		padding-left: 1.5rem;
		font-size: 1.125rem;
	}

    .filter {
        width: 47%;
        min-width: 159px;
        margin-bottom: 20px;
    }

    .filter-bar__list {
        justify-content: space-between;
        gap: 0px;
    }

	.accommodation {
		flex-direction: column-reverse;
        row-gap: 15px;
	}

    .section-title {
        margin: 20px 0 0 20px;
    }

	.sponsored {
		border-radius: 0;
		padding: 30px 20px;
	}

	.sponsored-cards {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.sponsored-cards a {
		width: 100%;
	}

	.accommodation-main {
		background-color: var(--white);
	}

	.accommodation-main__cards {
		flex-direction: column;
		align-items: center;
        margin: 0 25px;
	}

	.accommodation-main__card-link {
		width: 100%;
        margin-top: 15px;
	}

	.accommodation-main__card-link img {
		height: 124px;
	}

    .show-more {
        padding: 15px 20px 20px 20px;
    }

	.activities {
		padding: 0 30px 30px 30px;
	}

    .activities-title {
        padding-top: 30px;
        padding-bottom: 30px;
    }

	.activities-cards {
		flex-direction: column;
		gap: 15px;
	}

	.activities-card img {
		max-height: 141px;
	}

	.activities-card {
		width: 100%;
	}

	footer {
		width: 100%;
		flex-direction: column;
		padding: 30px;
		gap: 30px;
	}

	.footer-container {
		width: 100%;
	}

}